.main-content{
  display: flex;

}
.content{
  background-color: rgba(201, 135, 175, 0.322);
  height: 100%;
  width: 100%;
  

  
}.myfooter{  
  width: 100%;
  height: 30%; 
}

.mypostlist{
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.sidebar{
  width: 20%;
  /* height: 100%; */
  background-color:rgb(33, 37, 41); 
  z-index: 2;
  overflow: hidden;

}
.sidebar a{
  text-decoration: none;
  color: white;
}
.sidebar ul{
  list-style-type: none;
}
.sidebar .bottom{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.postCard{
  margin: 2rem 2rem;
  
  
}
.postlist{
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
}
.hashtags{
  
  padding:10px;
  margin: 0px 15px;
  font-size: 2rem;
  
  text-align: center;


}
.bttn{
  display: block;
  align-self: center;
}
.myAlert{
  margin:15px 0 0 0;
  width: inherit;
  padding: 5px;
}
.myform{
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;

}